body{
    font-family: "Roboto", sans-serif;
}
.container{
    max-width: 1200px;
}
.mynav{
    background-color: white;
}
.nav-item{
    margin: 0 10px;
}
.myback{
    height: 500px;
    width: 500px;
    background: #ff3e66;
    border-radius: 50%;
}
.text-subtitle{
    color:#2b70fa; 
    font-size: 14px;
    font-weight: 500;
}
.text-title{
    font-size: 60px; 
    color: #0e1133;  
    font-weight: 900;
}
.text-p{
    font-size: 18px;
    font-weight: 400;
}
.banner-btn{
    padding: 10px 30px;
    border:2px solid #0e1133 ;
    border-radius: 6px;
    text-decoration: none;
    transition: all .3s;
}
.btn-1{
background-color: #0e1133;
color: white;
}
.btn-2{
color: #0e1133;
}
.btn-1:hover{
    background-color: white;
    color: #0e1133;
}
.btn-2:hover{
    background-color: #0e1133;
    color: white;
}
.mysection{
    background-color: #eef1f6;
}
.fearture-title{
    color: #0e1133;
    font-weight: 800;
    font-size: 40px;
}
.fearture-icon{
    padding: 20px;
    border-radius: 20px;
    height: 70px;
    width: 70px;
    text-align: center;
    background: linear-gradient(135deg, rgb(132, 188, 250) 0%, rgb(43, 112, 250) 100%);
    box-shadow: 0px 6px 10px 0px rgb(16 73 189 / 30%);
}
.fearture-icon2{
    padding: 20px;
    border-radius: 20px;
    height: 70px;
    width: 70px;
    text-align: center;
    background: linear-gradient(135deg, rgb(247, 184, 175) 0%, rgb(248, 69, 45) 100%);
    box-shadow: 0px 6px 10px 0px rgb(16 73 189 / 30%);
}
.fearture-icon3{
    padding: 20px;
    border-radius: 20px;
    height: 70px;
    width: 70px;
    text-align: center;
    background: linear-gradient(135deg, rgb(160, 234, 194) 0%, rgb(49, 195, 105) 100%);
    box-shadow: 0px 6px 10px 0px rgb(16 73 189 / 30%);
}
.fearture-icon4{
    padding: 20px;
    border-radius: 20px;
    height: 70px;
    width: 70px;
    text-align: center;
    background: linear-gradient(135deg, rgb(216, 170, 255) 0%, rgb(155, 44, 250) 100%);
    box-shadow: 0px 6px 10px 0px rgb(16 73 189 / 30%);
}
.feature-card-title{
    color: #0e1133;
    font-size: 20px;
    font-weight: 700; 
}
.feature-badge{
    position: absolute;
    right: -10px;
    top: -10px;
    height: 30px;
    width: 30px;
    background: #2b70fa;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 3px 6px 0px rgb(14 17 51 / 10%);
    line-height: 28px;
    color: #fff;
}
.feature-badge2{
    position: absolute;
    right: -10px;
    top: -10px;
    height: 30px;
    width: 30px;
    background: #f8452d;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 3px 6px 0px rgb(14 17 51 / 10%);
    line-height: 28px;
    color: #fff;
}
.feature-badge3{
    position: absolute;
    right: -10px;
    top: -10px;
    height: 30px;
    width: 30px;
    background: #31c369;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 3px 6px 0px rgb(14 17 51 / 10%);
    line-height: 28px;
    color: #fff;
}
.feature-badge4{
    position: absolute;
    right: -10px;
    top: -10px;
    height: 30px;
    width: 30px;
    background: #9b2cfa;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 3px 6px 0px rgb(14 17 51 / 10%);
    line-height: 28px;
    color: #fff;
}
.feature-card{
    transition: all .5s;
    transition-delay: .1s;
}
.feature-card:hover{
    box-shadow: 0px 40px 40px 0px rgb(14 17 51 / 10%);
    transform: translateY(-15px);
}
.icon-feature{
    text-decoration: none;
}
.badge-feature{
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    background: #f1f2f7;
    color: #63636a;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}
.feature{
    border-right: 3px solid #e8eaef;
    border-radius: 0;
    font-size: 15px;
    font-weight: 500;
    color: #505056;
}
.myicon1{
    height: 26px;
    width: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    background: linear-gradient(135deg, #84bcfa 0%, #2b70fa 100%);
    color: #fff;
    font-size: 14px;
    box-shadow: 0px 6px 10px 0px rgb(16 73 189 / 30%);
}
.myicon2{
    height: 26px;
    width: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgb(247, 184, 175) 0%, rgb(248, 69, 45) 100%);
    color: #fff;
    font-size: 14px;
    box-shadow: 0px 6px 10px 0px rgb(16 73 189 / 30%);
}
.myicon3{
    height: 26px;
    width: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgb(160, 234, 194) 0%, rgb(49, 195, 105) 100%);
    color: #fff;
    font-size: 14px;
    box-shadow: 0px 6px 10px 0px rgb(16 73 189 / 30%);
}
.myicon4{
    height: 26px;
    width: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgb(216, 170, 255) 0%, rgb(155, 44, 250) 100%);
    color: #fff;
    font-size: 14px;
    box-shadow: 0px 6px 10px 0px rgb(16 73 189 / 30%);
}
.mybtn{
    background: transparent;
    color: #0e1133;
    border: 2px solid #e7eaef;

    text-decoration: none;
}
.mybtn:hover{
    background: #2b70fa;
    color: #fff;
}
.aboutussection{
    background-color:#1631ba;
}
.aboutussection-title{
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding-top: 10px;
}
.myspan{
    font-size: 14px;
    color: #fff; 
    opacity: 0.5;
}
.aboutussection-p{
    font-size: 20px;
    color: #fff; 
    line-height: 30px; 
}